# -------- Version VDO --------
stages:                               
  - test                              

sonarcloud:                           
  stage: test                         
  image: maven:3.9-eclipse-temurin-11 
  variables:
    GIT_DEPTH: "0"                    
  script:                             
    - mvn test                        
    - mvn checkstyle:checkstyle       
    - |                               
      apt-get update && apt-get install -y wget unzip     
      wget -O /tmp/sonar-scanner.zip \
        https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip  
      unzip /tmp/sonar-scanner.zip -d /opt               
      export SONAR_SCANNER_HOME=/opt/sonar-scanner-5.0.1.3006-linux
      export PATH="$SONAR_SCANNER_HOME/bin:$PATH"        
      sonar-scanner \                                    
        -Dsonar.host.url=$SONAR_URL \                    
        -Dsonar.login=$SONAR_TOKEN \                     
        -Dsonar.organization=$SONAR_ORGANIZATION \       
        -Dsonar.projectKey=$SONAR_PROJECT_KEY \          
        -Dsonar.sources=src \                            
        -Dsonar.junit.reportsPath=target/surefire-reports \        
        -Dsonar.jacoco.reportsPath=target/jacoco.exec \            
        -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml \  
        -Dsonar.java.test.binaries=target/test-classes              
  only:
    - branches                         
    - main                           

# -------- Version GPT --------
# stages:                             
#   - test                            

# sonarcloud:                         
#   stage: test                       
#   image: maven:3.9-eclipse-temurin-11   
#   variables:
#     GIT_DEPTH: "0"                  
#   script:
#     - mvn -B verify                
#     - mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \  
#         -Dsonar.projectKey=$SONAR_PROJECT_KEY \        
#         -Dsonar.organization=$SONAR_ORGANIZATION \     
#         -Dsonar.host.url=https://sonarcloud.io \       
#         -Dsonar.token=$SONAR_TOKEN \                   
#         -Dsonar.java.binaries=target/classes           
#   only:
#     refs:
#       - main                       
#       - merge_requests             
