# name: Hprofile Actions               
# on: workflow_dispatch                
# jobs:                                
#   Testing:                           
#     runs-on: ubuntu-latest           
#     steps:                           
#       - name: Code checkout          
#         uses: actions/checkout@v4   

#       - name: Maven test             
#         run: mvn test                
      
#       - name: Checkstyle             
#         run: mvn checkstyle:checkstyle   

#       - name: Set Java 11
#         uses: actions/setup-java@v3
#         with:
#           distribution: 'temurin'
#           java-version: '11'

#       - name: Setup SonarQube
#         uses: warchant/setup-sonar-scanner@v7

#       - name: SonarQube Scan
#         run: sonar-scanner
#           -Dsonar.host.url=${{ secrets.SONAR_URL }}
#           -Dsonar.login=${{ secrets.SONAR_TOKEN }}
#           -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
#           -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
#           -Dsonar.sources=src/
#           -Dsonar.junit.reportsPath=target/surefire-reports/
#           -Dsonar.jacoco.reportsPath=target/jacoco.exec
#           -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml

name: Hprofile Actions

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0          # สำคัญมาก เพื่อให้ sonar เทียบ diff ได้

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build & Test (Maven verify)
        run: mvn -B verify

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: "https://sonarcloud.io"
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
